@page
@model LoginModel
@{
}

<div class="container mt-5 margin-card">
    <div class="row justify-content-center">
        <div class="col-md-4 p-4 border rounded-3 bg-light">
            <h2 class="titulo text-center">Inicio de Sesión</h2>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label">Usuario</label>
                    <input asp-for="Input.Email" type="text" autocomplete="username" class="form-control rounded-pill" placeholder="name@contoso.com" aria-label="usuario">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <input asp-for="Input.Password" autocomplete="current-password" type="password" class="form-control rounded-pill" placeholder="Ingrese su contraseña" aria-label="contraseña">
                </div>
                <div class="mb-3 justify-content-center">
                    <a asp-area="Identity" asp-action="/Account/Register">
                        Registrarme
                    </a>
                </div>
                <div class="d-flex justify-content-between gap-2">
                    <!-- Botón Aceptar -->
                    <button type="submit" class="btn btn-color-aceptar btn-sm d-flex align-items-center justify-content-center flex-fill">
                        Aceptar
                    </button>
                    <!-- Botón Salir -->
                    <button type="submit" class="btn btn-color-salir btn-sm d-flex align-items-center justify-content-center flex-fill">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left me-1" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5" />
                        </svg>
                        Salir
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}