@page
@model RegisterModel
@{
}

<div class="container mt-5 margin-card">
  <div class="row justify-content-center">
    <div class="col-md-4 p-4 border rounded-3 bg-light">
      <h2 class="titulo text-center">Registrarse</h2>
      <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="mb-3">
          <label asp-for="Input.Nombre" class="form-label">Nombre</label>
          <input asp-for="Input.Nombre" type="text" class="form-control rounded-pill" placeholder="Ingrese su primer nombre" aria-label="Nombre">
          <span asp-validation-for="Input.Nombre" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label asp-for="Input.Apellido" class="form-label">Apellido</label>
          <input asp-for="Input.Apellido" type="text" class="form-control rounded-pill" placeholder="Ingrese su primer apellido" aria-label="Apellido">
          <span asp-validation-for="Input.Apellido" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label asp-for="Input.Email" class="form-label">Correo</label>
          <input asp-for="Input.Email" class="form-control rounded-pill" placeholder="Ingrese su correo electrónico" aria-label="Correo">
          <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label asp-for="Input.Password" class="form-label">Contraseña</label>
          <input asp-for="Input.Password" class="form-control rounded-pill" placeholder="Ingrese su contraseña" aria-label="contraseña">
          <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
          <label asp-for="Input.ConfirmPassword" class="form-label">Confimar Contraseña</label>
          <input asp-for="Input.ConfirmPassword" class="form-control rounded-pill" placeholder="Ingrese su contraseña de nuevo" aria-label="ConfirmarContraseña">
          <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-between gap-2">
          <!-- Botón Aceptar -->
          <button type="submit" class="btn btn-color-aceptar btn-sm d-flex align-items-center justify-content-center flex-fill">
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}