

<div class="container adjust">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h2 class="titulo">Equipos</h2>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-12">
            <div class="search-bar d-flex">
                <input id="Buscar" class="form-control form-control-lg me-2" type="text" placeholder="     Buscar equipos">
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <a asp-controller="Equipo" asp-action="Registrar">
                <button class="btn btn-color-editar btn-lg d-flex align-items-center margen">
                    Agregar
                    <span class="ms-2 plus-icon">+</span>
                </button>
            </a>
        </div>
    </div>
</div>
