@model IEnumerable<Modelos.Prestamo>

<div class="row mt-5">
    <div class="col-12 text-center">
        <h2 class="titulo">Préstamos</h2>
    </div>
    <div class="col-10">
        <form method="post" asp-action="Buscar">
            <div class="search-bar d-flex">
                @{
                    string query = null;
                }
                <input asp-for=@(query) id="Buscar" class="form-control form-control-lg" type="text" placeholder="Buscar préstamo">
                <input type="submit" style="visibility: hidden; border: 0; padding: 0; font-size: 0;" />
            </div>
        </form>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
        <a asp-controller="Prestamo" asp-action="Registrar" class="text-decoration-none">
            <button class="btn btn-color-editar btn-lg d-flex align-items-center margen">
                Agregar
                <span class="ms-2 plus-icon">+</span>
            </button>
        </a>
    </div>
</div>
<div class="row">
    @{
        foreach (var prestamo in Model)
        {
            <partial name="PartialViews/_CardPrestamo" model="prestamo" />
        }
    }
</div>
