// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
.navbar{
    background-color: rgb(242, 206, 235);
    border-radius: 4px;
    border-color: rgb(235, 134, 215);
    .nav-item{
        display: inline-block;
        margin-right: 2px;

        .nav-link{
            color:rgb(134, 63, 255);
            text-decoration: none;
        }

    }

}


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

